alembic==0.9.9
blinker==1.4
cairocffi==0.8.0
CairoSVG==1.0.22
cffi==1.11.5
click==6.7
cssselect2==0.2.1
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
html5lib==1.0b10
httplib2==0.11.3
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
pdfkit==0.6.1
pdfrw==0.4
Pillow==5.1.0
pycparser==2.18
PyPDF2==1.26.0
Pyphen==0.9.4
python-dateutil==2.7.2
python-editor==1.0.3
reportlab==3.4.0
six==1.11.0
SQLAlchemy==1.2.6
tinycss2==0.6.1
WeasyPrint==0.42.3
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.1
xhtml2pdf==0.2.1
gunicorn==19.7.1
